.center {
    margin: 20px;
    margin-right: auto;
    background-color: rgb(149, 236, 227)
}

table {

    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    border: 1px solid black;
    border-collapse: collapse;

}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

.footer {
    text-align: center;
    background: rgb(117, 116, 114);
    padding: 20px;
}

.footer ul {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}